name: Merge to main

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v4
      with:
        semantic_version: 19.0.5  # It is recommended to specify a version range
                                  # for semantic-release when using
                                  # semantic-release-action lower than @v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}